<div class="container-fluid p-3">
  <h1>{{ action }} to ToDo's</h1>

  <form class="p-2 d-flex justify-content-center flex-column " [formGroup]="addTodoForm" (ngSubmit)="onSubmit()">
      <label for="title">Title: </label>
      <input class="form-control" id="title" type="text" formControlName="title">
      @if(addTodoForm.get('title')?.invalid && (addTodoForm.get('title')?.dirty || addTodoForm.get('title')?.touched)){
          <p class="error-message text-danger">Please enter a valid Title.</p>
      }

      <label for="category">Category: </label>
      <select class="form-control" id="category" type="text" formControlName="category">
          @for(category of todoCategories; track category.id){
              <option [value]="category.id">{{ category.name }}</option>
          }
      </select>
      @if(addTodoForm.get('category')?.invalid && (addTodoForm.get('category')?.dirty || addTodoForm.get('category')?.touched)){
          <p class="error-message text-danger">Please enter a valid category.</p>
      }

      <button class="mt-5 btn btn-warning" type="submit">{{ action }} to Todo</button>
      <button class="mt-3 btn btn-outline-warning" type="button" routerLink="/todo-list">Cancel</button>
  </form>
</div>