<img src="../../../assets/GroupImage.jpeg" class="img-fluid mt-3 p-2 rounded-pill" alt="Responsive image">

<div class="m-4">
    <img class="mb-3" src="../../../assets/logo.svg" alt="Bootstrap" width="250" height="100">
    <h5 class="mb-3">From left to right:</h5>
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning mb-2 fw-bold">Nhat Minh Nguyen</li>
        <li class="list-group-item list-group-item-warning mb-2 fw-bold">Hanna Nicolas</li>
        <li class="list-group-item list-group-item-warning mb-2 fw-bold">Luis Pino</li>
        <li class="list-group-item list-group-item-warning mb-2 fw-bold">Tapan Patel</li>
    </ul>
</div>