<nav class="navbar navbar-expand-lg bg-light fixed-bottom border-top border-warning pt-1">
    <div class="container-fluid">
      <div class="w-100 d-flex justify-content-around">
        <div class="text-center text-sm" routerLink="/dashboard" routerLinkActive="active">
            <ng-icon name='ionHomeOutline'/><br>
            Home
        </div>
        <div class="text-center text-sm" routerLink="/reviews" routerLinkActive="active">
          <ng-icon name='ionListOutline'/><br>
          Reviews
      </div>
      <div class="text-center text-sm" routerLink="/todo-list" routerLinkActive="active">
          <ng-icon name='ionCheckboxOutline'/><br>
          To Do's
      </div>
      <div class="text-center text-sm" routerLink="/about-us" routerLinkActive="active">
        <ng-icon name='ionInformationCircleOutline'/><br>
        About us
    </div>
        </div>
      </div>
  </nav>
